<app-navbar></app-navbar>
<div class="head text-center w-100 pt-5">
  <h2 class="w-50 m-auto">Edit</h2>
</div>
<form>
  <div class="form-group-mine w-100 form-group text-center">
    <input
      #input2
      name="input2"
      type="text"
      class="form-control w-25 text-center"
      placeholder="enter name"
      autocomplete="off"
    />
    <input
      #input1
      name="input1"
      type="text"
      class="form-control w-25 text-center"
      placeholder="scan serial"
      autocomplete="off"
    />
  </div>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-info mt-2 ml-3"
      (click)="onClick(input1.value, input2.value)"
    >
      <i class="fas fa-search mr-3"></i>Search
    </button>
  </div>
</form>
<app-footer></app-footer>
