<app-navbar></app-navbar>
<div class="head text-center w-100 pt-5">
  <h2 class="w-50 m-auto">Sells</h2>
</div>

<div class="text-center mt-5 table-mine">
  <div id="myPill">
    <table class="table table-bordered w-100" id="myTable">
      <thead>
        <tr>
          <th>delete</th>
          <th>date</th>
          <th>purching price</th>
          <th>selling price</th>
          <th>quantity</th>
          <th>customer name</th>
          <th>name</th>
          <th>serial</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of mysells">
          <td>
            <button class="btn btn-danger" (click)="deleteRow(i.serial)">
              Delete
            </button>
          </td>
          <th>
            <p>{{ i.date }}</p>
          </th>
          <td>{{ i.price2 }}</td>
          <td>{{ i.price }}</td>
          <td>1</td>
          <td>{{ i.namecustomer }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.serial }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>all price {{ finaly }} L.E</td>
          <td>all price {{ finaly2 }} L.E</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h3>The total gain {{ allFinal }} L.E</h3>
  </div>
  <button type="submit" class="btn btn-danger mr-4 my-5" (click)="resetSell()">
    <i class="fas fa-trash-alt mr-3"></i>Delete All
  </button>
  <a routerLink="/home" class="btn btn-warning text-white mr-3 my-5"
    ><i class="fas fa-home"></i> Home</a
  >
  <button class="btn btn-primary ml-3 my-5" (click)="printComponent('myPill')">
    <i class="fas fa-print mr-3"></i>Print
  </button>
</div>
<app-footer></app-footer>
